@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Poppins:wght@300;400;500;700&display=swap');

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 100%;
}

.flex{
    display: flex;
}

body{
    /* width: 100vw;
    height: 100vh; */
    /* background-color: #1b2326; */
    background: linear-gradient(to bottom right,#fff, #000 );
    /* background-position: center;
    background-size: cover; */
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(image3.jpg) no-repeat;
    /* background: url(image.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h1Text{
    position: absolute;
    /* top: 20%; */
    left: 70%;
    bottom: 30%;
   
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px 0px 5px #979797, 5px 5px 10px #505050;
    transform: rotate(-30deg);
    
}

#name{
    display: none;
    font-size: 3.5rem;
    font-family: 'Kalam', cursive;
    animation: zoom 2.5s infinite linear;
}


#endDate{
    display: none;
}

.countdownBox{
    position: absolute;
    top: 10%;
    left: 10%;
    align-items: center;
    width: 100%;
    height: 20vh;
    max-width: 500px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px #fff, 5px 5px 10px #fff;
    padding: 15px;
    border-radius: 10px;
}

.countdownBox .timeContent{
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 70px;
    text-align: center;
    /* margin: 30px; */
}

.timeContent .number{
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.timeContent .text{
    display: block;
    position: relative;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
}

.timeContent .text::after{

    content: "";
    background-color: #ebd3a5;
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    transition: all 0.3s linear;
    animation: animate 2.5s infinite linear;
}

p{
    position: absolute;
    top: 40%;
    left: 24%;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    translate: -50%;
    text-align: center;
    /* text-shadow: 0px 0px 0px #fff, 0px 0px 2px #fff; */
    font-weight: 500;
    animation: zoom 2.5s infinite linear;
}

@keyframes zoom {
    0% {
        scale: 1;
    }

    50% {
        scale: 3;
    }

    100%{
        scale: 1;
    }
}

@keyframes animate {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

/* .timeContent .text:hover::after{
    width: 100%;
    left: 0%;
} */

@media screen and (max-width : 700px){
    html{
        font-size: 85%;
    }

    .countdownBox{
        max-width: 300px;
        left: 50%;
        transform: translateX(-50%);
        height: 15vh;
    }
    #name{
        font-size: 2;
        translate: -50%;
        transform: none;
        left: 50%;
        bottom: 10%;
        animation: zoom 2.5s infinite linear;
    }


    .countdownBox .timeContent{
        width: 50px;
    }

    .timeContent .text{
        font-size: 1rem;
    }

    p{
        left: 50%;
        top: 32%;
        font-size: 1rem;
    }

    @keyframes zoom {
        0% {
            scale: 1;
        }
    
        50% {
            scale: 2;
        }
    
        100%{
            scale: 1;
        }
    }

}